<!doctype html>
<html>
  <head>
    {%- include head.html -%}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body id="blog">
    <div id="blog-column">
      <nav>
        {%- for item in site.data.blog_navigation -%}
          <a href="{{ item.link | relative_url }}">
            {{ item.name }}
          </a>
        {%- endfor -%}
      </nav>
      <div id="blog-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
